<h1>
    Password Generator
</h1>

<div>
    <label>Enter Length</label>
    <input (input)="onChangeLength($any($event.target).value)"/>        <!-- Event Binding -->
</div>

<div>
    <label>Use Letters</label>
    <input (change)="onChangeUseLetters()" type="checkbox" />           <!-- Event Binding -->
</div>

<div>
    <label>Use Numbers</label>
    <input (change)="onChangeUseNumbers()" type="checkbox" />           <!-- Event Binding -->
</div>

<div>
    <label>Use Symbols</label>
    <input (change)="onChangeUseSymbols()" type="checkbox" />           <!-- Event Binding -->
</div>

<div>
    <button (click)="onButtonClick()">Generate!</button>                <!-- Event Binding -->
</div>

<div>
    <label>Your Password</label>
    <input [value]="password"/>                         <!-- Property Binding -->
</div>

